
body {
    text-align: center;
}

header {
    text-align: right;
    margin-bottom: 10vh;
    font-size: 30px;
}

header a {
    border-width: 4px;
    border-color: darkgreen;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0);
    color: darkgreen;
    display: inline-block;
    padding: 20px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    border-radius: 20px;
    background-color: #FFFFFF;
    text-decoration: none;

}

header a:hover {
    color: white;
    background-color: darkgreen;
}


h1 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 70px;
}

label {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

input {
    padding: 2px;
    border-radius: 2px;
    border-style: solid;
}

.input {
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: #555555;
    font-size: 30px;
}

.submit {
    padding: 5px;
    border-width: 2px;
    border-radius: 5px;
    border-color: darkgreen;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0);
    color: darkgreen;
}

.submit:hover {
    color: white;
    background-color: darkgreen;
}

.result {
    height: 10px;
    display: inline-block;
    border-width: 2px;
    border-color: darkgreen;
}

table {
    display: inline-block;
}

.main {
    text-align: center;
    align-content: center;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: darkgreen;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    min-width: 100px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid darkgreen;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: darkgreen;
}